/*
// import jquery.ui.datetimepicker
*/

input[disabled] {
    pointer-events:none
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.scroll-y {
    overflow-y: auto;
}

.menu {
    width: 20%;
    border: 1px solid black;
}

.menu li:hover {
    cursor: pointer;
    cursor: hand;
}

.te-modified {
    background-color: yellow;
}


.ui-draggable, .ui-droppable {
	background-position: top;
}

.ui-state-active {
    border: 1px solid #003eff;
	background: #007fff;
	font-weight: normal;
	color: #ffffff;
}

.ui-dialog-titlebar-close {
	text-indent: -9999px;
	font-size: -9999px;
}

.timeEntry-6 input,
.timeEntry-5 input {
	width: 85px;
}

.timeEntry-0 input {
	width: 150px;
}
